        # These files are text and should be normalized (Convert crlf => lf)
        *.sql text
        *.go text
        *.mod text
        *.sum text
        *.yml text
        Dockerfile text
        *.md text
        *.svg text

        # These files are binary and should be left untouched
        # (binary is a macro for -text -diff)
        *.png binary
        *.jpg binary
        *.jpeg binary
        *.gif binary
        *.ico binary
        *.mov binary
        *.mp4 binary
        *.mp3 binary
        *.flv binary
        *.fla binary
        *.swf binary
        *.gz binary
        *.zip binary
        *.7z binary
        *.ttf binary
        *.pyc binary